@use "../../../styles/system";

.wrapper{
    @include system.container-width-1;
    display: grid;
    grid-template-areas: 'col-left col-right';
    grid-template-columns:
    calc(559.5px + (1808 - 559.5) * ((100vw - 1200px) / (3840 - 1200)))
    calc(559.5px + (1808 - 559.5) * ((100vw - 1200px) / (3840 - 1200)));
    grid-gap: calc(27px + (74 - 27) * ((100vw - 1200px) / (3840 - 1200)));     
    margin-bottom: calc(23px + (73 - 23) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){            
        grid-template-areas: 'col-left' 'col-right';
        grid-template-columns: 100% 100%;
        grid-gap: calc(15px + (42 - 15) * ((100vw - 300px) / (1024 - 300))); 
        margin-bottom: calc(22px + (60 - 22) * ((100vw - 300px) / (1024 - 300))); 
    }

    .col_left{
        grid-area: col-left;
        .image_wrapper{
            position: relative;
            width: 100%;
            height: calc(385px + (1215 - 385) * ((100vw - 1200px) / (3840 - 1200)));
            background-color: rgb(231, 231, 231);
            @media screen and (max-width: 1024px){
                height: calc(222px + (765 - 222) * ((100vw - 300px) / (1024 - 300)));                
            }
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                &.hide{
                    opacity: 0;
                }
            }
        }
    }
    .col_right{
        grid-area: col-right;                   
        p{
            @include system.font-level-6;
            font-weight: 600;
            color: system.$black;
            line-height: 130%;     
            padding-left: calc(1px + (2 - 1) * ((100vw - 1200px) / (3840 - 1200))); 
            margin-bottom: calc(14px + (38 - 14) * ((100vw - 1200px) / (3840 - 1200))); 
            @media screen and (max-width: 1024px){
                margin-bottom: calc(13px + (38 - 13) * ((100vw - 300px) / (1024 - 300)));
                line-height: 120%;
            }    
            &:last-child{
                margin-bottom: calc(25px + (75 - 25) * ((100vw - 1200px) / (3840 - 1200)));
                @media screen and (max-width: 1024px){
                    margin-bottom: calc(16px + (52 - 16) * ((100vw - 300px) / (1024 - 300)));
                }
            } 
        }  
        .query_button{
            @include system.button;  
            cursor: pointer;        
        }
    }
    .highlighted{
        @include system.font-level-4;
        font-weight: 800;
        color: system.$black;
        line-height: 105%;
        margin-bottom: calc(21px + (64 - 21) * ((100vw - 1200px) / (3840 - 1200)));
        &.show_in_mobile{
            display: none;
        }
        @media screen and (max-width: 1024px){            
            @include system.font-level-4-b-mobile;
            margin-bottom: calc(16px + (48 - 16) * ((100vw - 300px) / (1024 - 300)));
            &.show_in_desk{
                display: none;
            }
            &.show_in_mobile{
                display: block;
            }
        }                     
    }
} 