// Theme Colors

$black: #000000;
$white: #fff;
$red: #EF3824;


// Typography Levels

@mixin font-level-1 {
    font-size: calc(85px + (265 - 85) * ((100vw - 1200px) / (3840 - 1200)));    
    @media screen and (max-width: 1024px){
        //font-size: calc(42px + (138 - 42) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-2 {
    font-size: calc(60px + (190 - 60) * ((100vw - 1200px) / (3840 - 1200)));  
    @media screen and (max-width: 1024px){
        //font-size: calc(36px + (96 - 36) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-3 {
    //font-size: calc(28px + (74 - 28) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        //font-size: calc(24px + (62 - 24) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-4 {
    //font-size: calc(17.5px + (48 - 17.5) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        //font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-5 {
    font-size: calc(14px + (42 - 14) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        //font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-6 {
    //font-size: calc(17.5px + (48 - 17.5) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        //font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1024 - 300)));
    }
}


// Container width

@mixin container-width-1 {
    width: calc(1138px + (3688 - 1138) * ((100vw - 1200px) / (3840 - 1200)));
    margin: 0 auto;
    @media screen and (max-width: 1024px){   
        //width: calc(279px + (1120 - 279) * ((100vw - 300px) / (1200 - 300))); 
    }
}


// Button

@mixin button {
    display: inline-block;
    @include font-level-5;
    font-weight: 800;    
    background-color: $red;
    color: $white;
    text-decoration: none;
    padding:
    calc(8px + (24 - 8) * ((100vw - 1200px) / (3840 - 1200)))
    calc(16px + (50 - 16) * ((100vw - 1200px) / (3840 - 1200)))
    ;
}


// Lines

$line: calc(1px + (2 - 1) * ((100vw - 1200px) / (3840 - 1200)));
$line-mobile: calc(1px + (2 - 1) * ((100vw - 300px) / (1200 - 300)));