// Theme Colors

$black: #000000;
$white: #fff;
$red: #EF3824;


// Typography Levels

@mixin font-level-1 {
    font-size: calc(85px + (265 - 85) * ((100vw - 1200px) / (3840 - 1200)));    
    @media screen and (max-width: 1024px){
        font-size: calc(42px + (142 - 42) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-2 {
    font-size: calc(60px + (190 - 60) * ((100vw - 1200px) / (3840 - 1200)));  
    @media screen and (max-width: 1024px){
        font-size: calc(36px + (100 - 36) * ((100vw - 300px) / (1024 - 300)));
        //font-size: calc(26px + (88 - 26) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-3 {
    font-size: calc(46px + (140 - 46) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        font-size: calc(28.5px + (97.5 - 28.5) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-4 {
    font-size: calc(32px + (100 - 32) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        font-size: calc(22px + (62 - 22) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-4-b-mobile {
    @media screen and (max-width: 1024px){
        font-size: calc(17px + (57 - 17) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-5 {
    font-size: calc(17.5px + (55 - 17.5) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        font-size: calc(12px + (34 - 12) * ((100vw - 300px) / (1024 - 300)));
    }
}

@mixin font-level-6 {
    font-size: calc(14px + (42 - 14) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        font-size: calc(12px + (34 - 12) * ((100vw - 300px) / (1024 - 300)));
    }
    @media print {
        font-size: 12px;    
    }
}

@mixin font-level-7 {
    font-size: calc(11.5px + (35 - 11.5) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        font-size: calc(9px + (23 - 9) * ((100vw - 300px) / (1024 - 300)));
    }
}


// Container width

@mixin container-width-1 {
    width: calc(1146px + (3688 - 1146) * ((100vw - 1200px) / (3840 - 1200)));
    margin: 0 auto;
    @media screen and (max-width: 1024px){   
        width: calc(279px + (1120 - 279) * ((100vw - 300px) / (1200 - 300))); 
    }
}


// Button

@mixin button {
    display: inline-block;
    @include font-level-6;
    font-weight: 800;    
    line-height: 100%;
    background-color: $red;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    padding:
    calc(10px + (32 - 10) * ((100vw - 1200px) / (3840 - 1200)))
    calc(16px + (52 - 16) * ((100vw - 1200px) / (3840 - 1200)))
    ;
    @media screen and (max-width: 1024px){
        padding:
        calc(8px + (22 - 8) * ((100vw - 300px) / (1200 - 300)))
        calc(12px + (32 - 12) * ((100vw - 300px) / (1200 - 300)))
        ;
    }
    @media screen and (min-width: 1024px){   
        &:hover{
            background-color: $black;
            color: $white;
        }
    }
}


// Lines

$line: calc(1.5px + (3 - 1.5) * ((100vw - 1200px) / (3840 - 1200)));
$line-mobile: calc(1px + (2.5 - 1) * ((100vw - 300px) / (1200 - 300)));


