@use "../../../styles/system";

.wrapper{
  position: relative;
  @include system.container-width-1;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(72px + (216 - 72) * ((100vw - 1200px) / (3840 - 1200))); 
  .heading{
    @include system.font-level-6;
    font-weight: 800;
    text-transform: uppercase;
    color: system.$black;
    margin-bottom: calc(20px + (60 - 20) * ((100vw - 1200px) / (3840 - 1200))); 
  }
  .link{
    @include system.font-level-1;
    line-height: 128%;
    font-weight: 900; 
    text-decoration: none;
    color: system.$black;    
    border-top: solid system.$line system.$black;
    text-align: left;
    &:last-of-type{
      border-bottom: solid system.$line system.$black;
    }
  }
} 