@use "../../../styles/system";

.footer{    
    background-color: system.$black;
    margin-top: calc(36px + (118 - 36) * ((100vw - 1200px) / (3840 - 1200)));
    padding:
    calc(110px + (328 - 110) * ((100vw - 1200px) / (3840 - 1200)))
    calc(25px + (70 - 25) * ((100vw - 1200px) / (3840 - 1200)))
    calc(25px + (45 - 25) * ((100vw - 1200px) / (3840 - 1200)))
    calc(18px + (40 - 18) * ((100vw - 1200px) / (3840 - 1200)))
    ;
    @media screen and (max-width: 1024px){
        margin-top: calc(21px + (65 - 21) * ((100vw - 300px) / (1024 - 300)));
        padding:
        calc(42px + (136 - 42) * ((100vw - 300px) / (1024 - 300)))
        calc(12px + (34 - 12) * ((100vw - 300px) / (1024 - 300)))
        calc(40px + (115 - 40) * ((100vw - 300px) / (1024 - 300)))
        calc(12px + (34 - 12) * ((100vw - 300px) / (1024 - 300)))
        ; 
    }
    @media print {
        display: none;
    }
    .wrapper{
        width: 100%;        
        display: grid;
        grid-template-areas: 'col-left col-right';
        grid-template-columns:
        calc(595px + (1920 - 595) * ((100vw - 1200px) / (3840 - 1200)))
        calc(555px + (1805 - 555) * ((100vw - 1200px) / (3840 - 1200)))
        ;
        color: system.$white;
        @media screen and (max-width: 1024px){
            grid-template-areas: 'col-left' 'col-right';
            grid-template-columns: 100% 100%;
        }
        p, a{
            @include system.font-level-6;
            font-weight: 800;
            color: system.$white;
            text-decoration: none;            
        }
        a{
            @media screen and (min-width: 1024px){
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .col_left{
            grid-area: col-left;
            position: relative;
            p{
                background-image: url('../../../../public/assets/images/sarachaga-brand-white.svg');
                background-position: left top;
                background-repeat: no-repeat;
                background-size: calc(110px + (345 - 110) * ((100vw - 1200px) / (3840 - 1200))) auto;
                height: calc(80px + (245 - 80) * ((100vw - 1200px) / (3840 - 1200)));
                padding-left: calc(128px + (385 - 128) * ((100vw - 1200px) / (3840 - 1200)));
                @media screen and (max-width: 1024px){
                    background-size: calc(80px + (195 - 80) * ((100vw - 300px) / (1024 - 300))) auto;
                    height: calc(58px + (140 - 58) * ((100vw - 300px) / (1024 - 300)));
                    padding-left: calc(95px + (230 - 95) * ((100vw - 300px) / (1024 - 300)));
                    margin-bottom: calc(18px + (48 - 18) * ((100vw - 300px) / (1024 - 300))); 
                }
            }            
        }
        .col_right{
            grid-area: col-right;
            display: grid;
            grid-template-areas: 'whatsapp networks adress';
            grid-template-columns:
            calc(210px + (700 - 210) * ((100vw - 1200px) / (3840 - 1200)))
            calc(145px + (510 - 145) * ((100vw - 1200px) / (3840 - 1200)))
            calc(200px + (595 - 200) * ((100vw - 1200px) / (3840 - 1200)))
            ;
            @media screen and (max-width: 1024px){
                grid-template-areas: 'whatsapp' 'networks' 'adress';
                grid-template-columns: 100% 100% 100%;
                padding-left: calc(95px + (230 - 95) * ((100vw - 300px) / (1024 - 300)));
            }
            .whatsapp{
                grid-area: whatsapp;
                @media screen and (max-width: 1024px){
                    margin-bottom: calc(18px + (48 - 18) * ((100vw - 300px) / (1024 - 300))); 
                }
                a{
                    display: block;                    
                    &:first-of-type{
                        margin-bottom: calc(17.5px + (56 - 17.5) * ((100vw - 1200px) / (3840 - 1200)));
                        @media screen and (max-width: 1024px){
                            margin-bottom: calc(10px + (20 - 10) * ((100vw - 300px) / (1024 - 300))); 
                        }
                    }
                }
            }
            .social_networks{
                grid-area: networks;
                display: flex;
                flex-direction: column;
                @media screen and (max-width: 1024px){
                    margin-bottom: calc(18px + (48 - 18) * ((100vw - 300px) / (1024 - 300)));                    
                }
                a{                    
                    @media screen and (max-width: 1024px){
                        line-height: 170%;                    
                    }
                }
            }
            .adress{
                grid-area: adress;
                a{
                    display: block;
                    margin-bottom: calc(17.5px + (56 - 17.5) * ((100vw - 1200px) / (3840 - 1200)));
                    @media screen and (max-width: 1024px){
                        margin-bottom: calc(10px + (20 - 10) * ((100vw - 300px) / (1024 - 300))); 
                    }
                }
            }
        }
    }
}