@use "../../../styles/system";

.nights{
    @include system.container-width-1;
    display: flex;
    flex-direction: row;
    margin-bottom: calc(40px + (130 - 40) * ((100vw - 1200px) / (3840 - 1200)));
    .night{
        margin-right: calc(30px + (95 - 30) * ((100vw - 1200px) / (3840 - 1200)));
        p{
            @include system.font-level-6;
            font-weight: 800;
            color: system.$black;
            text-transform: uppercase;
            &.red{
                color: system.$red;
            }
        }
    }
}