@use "../../../styles/system";

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
    .container{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        width: calc(440px + (1350 - 440) * ((100vw - 1200px) / (3840 - 1200)));
        background-color: system.$white;
        padding:
        calc(38px + (118 - 38) * ((100vw - 1200px) / (3840 - 1200)))
        calc(28px + (74 - 28) * ((100vw - 1200px) / (3840 - 1200)))
        ;        
        animation-name: contentIn;
        animation-duration: 0.5s;  
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        @media screen and (max-width: 1024px){
            width: calc(265px + (820 - 265) * ((100vw - 300px) / (1024 - 300))); 
            padding:
            calc(36px + (84 - 36) * ((100vw - 300px) / (1024 - 300)))
            calc(11px + (34 - 11) * ((100vw - 300px) / (1024 - 300)))
            calc(22px + (60 - 22) * ((100vw - 300px) / (1024 - 300)))
            calc(11px + (34 - 11) * ((100vw - 300px) / (1024 - 300)))
            ;
            animation-duration: 0.3s;
        }
        .close_btn{
            position: absolute;
            top: calc(12px + (34 - 12) * ((100vw - 1200px) / (3840 - 1200)));
            right: calc(12px + (34 - 12) * ((100vw - 1200px) / (3840 - 1200)));            
            width: calc(28px + (88 - 28) * ((100vw - 1200px) / (3840 - 1200)));
            height: calc(28px + (88 - 28) * ((100vw - 1200px) / (3840 - 1200)));                
            background-image: url('../../../../public/assets/images/close-icon-black.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% auto;
            @media screen and (max-width: 1024px){
                width: calc(22px + (62 - 22) * ((100vw - 300px) / (1024 - 300)));
                height: calc(22px + (62 - 22) * ((100vw - 300px) / (1024 - 300)));
                top: calc(8px + (18 - 8) * ((100vw - 300px) / (1024 - 300)));
                right: calc(8px + (18 - 8) * ((100vw - 300px) / (1024 - 300)));  
            }
        }
        .title{
            @include system.font-level-4;
            font-weight: 800;
            color: system.$black;
            text-transform: uppercase;
            margin-bottom: calc(14px + (42 - 14) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(8px + (22 - 8) * ((100vw - 300px) / (1024 - 300)));  
            }
        }
        p{
            @include system.font-level-5;
            font-weight: 600;
            color: system.$black;
            margin-bottom: calc(24px + (84 - 24) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(18px + (46 - 18) * ((100vw - 300px) / (1024 - 300)));  
            }
        }
        .form{
            width: 100%;
            .label{
                display: block;
                width: 100%;
                @include system.font-level-7;
                font-weight: 600;
                color: system.$black;
                margin-bottom: calc(4px + (10 - 4) * ((100vw - 1200px) / (3840 - 1200)));
                @media screen and (max-width: 1024px){
                    margin-bottom: calc(3px + (6 - 3) * ((100vw - 300px) / (1024 - 300)));  
                }
            }
            .input{
                width: 100%;  
                box-sizing: border-box;              
                border-radius: 0;
                border: solid system.$line system.$black;                                
                @include system.font-level-5;
                font-weight: 600;
                color: system.$red;
                padding:
                calc(6px + (14 - 6) * ((100vw - 1200px) / (3840 - 1200)))
                calc(14px + (46 - 14) * ((100vw - 1200px) / (3840 - 1200)))
                ;
                margin-bottom: calc(16px + (50 - 16) * ((100vw - 1200px) / (3840 - 1200)));
                @media screen and (max-width: 1024px){
                    border: solid system.$line-mobile system.$black;       
                    padding:
                    calc(6px + (14 - 6) * ((100vw - 300px) / (1024 - 300)))
                    calc(10px + (25 - 10) * ((100vw - 300px) / (1024 - 300)))
                    ;
                    margin-bottom: calc(10px + (32 - 10) * ((100vw - 300px) / (1024 - 300)));  
                }
            }
            .submit_btn{
                @include system.button; 
                margin-top: calc(15px + (45 - 15) * ((100vw - 1200px) / (3840 - 1200)));
                @media screen and (max-width: 1024px){
                    margin-top: calc(12px + (30 - 12) * ((100vw - 300px) / (1024 - 300)));  
                }
            }
        }      
    }    

    .overlay_close{
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 0.4s;  
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
    }

    &.closing{
        .container{
            animation-name: contentOut;
            animation-duration: .25s;  
            animation-timing-function: ease-out;
            animation-fill-mode: forwards; 
            @media screen and (max-width: 1024px){
                animation-duration: .15s;  
            }
        }
        .overlay_close{
            opacity: 1;
            animation-name: fadeOut;
            animation-delay: 0.2s;
            animation-duration: 0.4s;  
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards; 
        }
    }
}

@keyframes contentIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes contentOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}