@use "../../../styles/system";

.wrapper{
    @include system.container-width-1;
    display: grid;
    grid-template-areas: 'col-left col-right';
    grid-template-columns:
    calc(559.5px + (1808 - 559.5) * ((100vw - 1200px) / (3840 - 1200)))
    calc(559.5px + (1808 - 559.5) * ((100vw - 1200px) / (3840 - 1200)))
    ;
    grid-gap: calc(27px + (74 - 27) * ((100vw - 1200px) / (3840 - 1200)));    
    min-height: 60vh; 
    margin-bottom: calc(108px + (340 - 108) * ((100vw - 1200px) / (3840 - 1200)));
    @media screen and (max-width: 1024px){
        grid-template-areas: 'col-right';
        grid-template-columns: 100%;       
        margin-bottom: calc(43px + (143 - 43) * ((100vw - 300px) / (1024 - 300)));
    }   
    .col_left{
        grid-area: col-left;
        padding-top: calc(80px + (240 - 80) * ((100vw - 1200px) / (3840 - 1200)));
        .img_wrapper{
            margin-bottom: calc(20px + (56 - 20) * ((100vw - 1200px) / (3840 - 1200)));  
            @media screen and (max-width: 1024px){
                margin-bottom: calc(10.5px + (34 - 10.5) * ((100vw - 300px) / (1024 - 300)));
            }
            &:last-of-type{
                margin-bottom: 0;
            }
            img{
                width: 100%;
                height: auto;
            }
        }        
    }
    .col_right{
        grid-area: col-right;  
        padding-top: calc(80px + (240 - 80) * ((100vw - 1200px) / (3840 - 1200))); 
        max-height: 95vh;
        @media screen and (max-width: 1024px){
            max-height: 100%;    
            padding-top: calc(58px + (188 - 58) * ((100vw - 300px) / (1024 - 300)));  
        }
        p, li, a, .print_btn{
            @include system.font-level-6;
            font-weight: 600;
            color: system.$black;
            display: block;
            text-decoration: none;
        }
        .header{
            display: flex;
            justify-content: space-between;
            margin-bottom: calc(25px + (85 - 25) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(22px + (72 - 22) * ((100vw - 300px) / (1024 - 300)));
            }
            .link_back{
                text-transform: uppercase;
                font-weight: 800;
                background-image: url('../../../../public/assets/images/arrow-back-icon.svg');
                background-repeat: no-repeat;
                background-position: left center;
                background-size: calc(12.5px + (38 - 12.5) * ((100vw - 1200px) / (3840 - 1200))) auto;
                padding-left: calc(16px + (46 - 16) * ((100vw - 1200px) / (3840 - 1200)));
                border-bottom: solid system.$line system.$black;
                @media screen and (max-width: 1024px){
                    background-size: calc(11px + (28 - 11) * ((100vw - 300px) / (1024 - 300))) auto;
                    padding-left: calc(14px + (34 - 14) * ((100vw - 300px) / (1024 - 300)));
                }
            }
            .print_btn{
                font-weight: 800;
                border-bottom: solid system.$line system.$black;
            }
        }     
        .headline{
            @include system.font-level-3;
            font-weight: 800;
            color: system.$black;
            line-height: 100%;
            margin-bottom: calc(16px + (38 - 16) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(8px + (18 - 8) * ((100vw - 300px) / (1024 - 300)));
            }
        }        
        .description{
            line-height: 130%;
            padding-right: calc(45px + (200 - 45) * ((100vw - 1200px) / (3840 - 1200)));
            margin-bottom: calc(25px + (64 - 25) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                padding-right: 0;
                margin-bottom: calc(18px + (44 - 18) * ((100vw - 300px) / (1024 - 300)));
            }
        }
        .technical_sheet{
            list-style: none;
            margin-bottom: calc(29px + (74 - 29) * ((100vw - 1200px) / (3840 - 1200)));
            @media screen and (max-width: 1024px){
                margin-bottom: calc(18px + (48 - 18) * ((100vw - 300px) / (1024 - 300)));
            }
            li{
                span{
                    color: system.$red;
                }
                padding: calc(6px + (12 - 6) * ((100vw - 1200px) / (3840 - 1200)));
                border-bottom: solid system.$line system.$black;
                @media screen and (max-width: 1024px){
                    padding: 
                        calc(6px + (12 - 6) * ((100vw - 300px) / (1024 - 300)))
                        calc(2px + (4 - 2) * ((100vw - 300px) / (1024 - 300)))
                    ;
                } 
                &:first-of-type{
                border-top: solid system.$line system.$black;
                }
            }
        }
        .query_button{
            @include system.button;    
            @media screen and (max-width: 1024px){
                margin-bottom: calc(18px + (48 - 18) * ((100vw - 300px) / (1024 - 300)));
            }      
        }
        .image_mobile{
            width: 100%;
            height: auto;         
            margin-bottom: calc(5px + (18 - 5) * ((100vw - 300px) / (1024 - 300))); 
            &:last-of-type{
                margin-bottom: 0;
            }       
            @media screen and (min-width: 1025px){
                display: none;  
            }
        }
    }
}

@media print {    
    .wrapper{
        padding-top: 50px;           
        .col_left{
            padding-top: 0;       
        }
        .col_right{
            padding-top: 25px!important; 
            max-height: 100%;
            .header{
                display: none!important; 
            }     
            .headline{
                font-size: 26px!important; 
            }        
            .description{
                width: 360px!important;     
            }
            .query_button{
                display: none;      
            }
        }
    }
}