@use "../../../styles/system";

.wrapper{
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: system.$black;
    display: inline;
    text-align: center;
    width: calc(1175px + (3762 - 1175) * ((100vw - 1200px) / (3840 - 1200)));
    padding:
    calc(20px + (58 - 20) * ((100vw - 1200px) / (3840 - 1200)))
    0
    ;        
    animation-name: contentIn;
    animation-duration: 0.5s;  
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    @media screen and (max-width: 1024px){
        text-align: left;
        width: calc(290px + (990 - 290) * ((100vw - 300px) / (1024 - 300))); 
        padding:
        calc(8px + (26 - 8) * ((100vw - 300px) / (1024 - 300)))
        calc(40px + (130 - 40) * ((100vw - 300px) / (1024 - 300)))
        calc(12px + (34 - 12) * ((100vw - 300px) / (1024 - 300)))
        calc(14px + (42 - 14) * ((100vw - 300px) / (1024 - 300)))
        ;
        animation-name: contentInMobile;
    }
    @media print {
        display: none;
    }

    .close_btn{
        position: absolute;
        top: calc(17px + (47 - 17) * ((100vw - 1200px) / (3840 - 1200)));
        right: calc(16px + (45 - 16) * ((100vw - 1200px) / (3840 - 1200)));            
        width: calc(28px + (88 - 28) * ((100vw - 1200px) / (3840 - 1200)));
        height: calc(28px + (88 - 28) * ((100vw - 1200px) / (3840 - 1200)));                
        background-image: url('../../../../public/assets/images/close-icon-white.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        @media screen and (max-width: 1024px){
            width: calc(22px + (62 - 22) * ((100vw - 300px) / (1024 - 300)));
            height: calc(22px + (62 - 22) * ((100vw - 300px) / (1024 - 300)));
            top: calc(8px + (18 - 8) * ((100vw - 300px) / (1024 - 300)));
            right: calc(8px + (18 - 8) * ((100vw - 300px) / (1024 - 300)));  
        }
    }

    p, .link{
        @include system.font-level-5;
        font-weight: 600;
        color: system.$white;
        display: inline;
        margin-bottom: calc(24px + (84 - 24) * ((100vw - 1200px) / (3840 - 1200)));
        @media screen and (max-width: 1024px){
            margin-bottom: calc(18px + (46 - 18) * ((100vw - 300px) / (1024 - 300)));  
        }
    }

    .link{
        text-decoration: none;
        @media screen and (min-width: 1024px){
            &:hover{
                text-decoration: underline;
            }
        }
    }
 
    &.closing{      
        animation-name: contentOut;
        animation-duration: 0.4s;  
        animation-timing-function: ease-out;
        animation-fill-mode: forwards; 
        @media screen and (max-width: 1024px){
            animation-duration: 0.6s;  
        }       
    }    
}       

@keyframes contentIn {
    0% {
        bottom: -200px;
    }
    100% {
        bottom: calc(12px + (38 - 12) * ((100vw - 1200px) / (3840 - 1200)));  
    }
}

@keyframes contentOut {
    0% {
        bottom: calc(12px + (38 - 12) * ((100vw - 1200px) / (3840 - 1200)));
    }
    100% {
        bottom: -200px;
    }
}

@keyframes contentInMobile {
    0% {
        bottom: -150px;
    }
    100% {
        bottom: calc(6px + (16 - 6) * ((100vw - 300px) / (1024 - 300)));  
    }
}

@keyframes contentOutMobile {
    0% {
        bottom: calc(6px + (16 - 6) * ((100vw - 300px) / (1024 - 300)));
    }
    100% {
        bottom: -150px;
    }
}